body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.am-tab-bar {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 99;
  height: 50px !important;
}
.fixd-header.am-navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
}
.page-content {
  padding: 45px 5px ;
}
#chat-page .chat-me .am-list-extra {
  flex-basis: auto;
}
#chat-page .chat-me .am-list-content {
  padding-right: 15px;
  text-align: right;
}
.stick-footer {
  z-index: 10;
  position: absolute;
  bottom: 0;
  width: 100%;
}